.app__faqs {
  padding: 4rem 125px;
  display: flex;
  justify-content: space-between;
}

.faqs__txt {
  /* width: 80%; */
  line-height: 2;
}

.faqs__header {
  color: var(--gray-800, #1d2939);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.96px;
  margin: 1rem 0;
}

.support {
  color: var(--blue-700, #175cd3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.faqs__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 20px 20px 10px;
}

.faqs__box img {
  cursor: pointer;
}

.faqs__box h3 {
  font-size: medium;
  line-height: 1.5;
}

.faqs__one {
  /* flex: 1; */
  width: 40%;
}

.faqs__two {
  /* flex: 1; */
  width: 53%;
}

.faqs__box p {
  font-size: smaller;
  margin-top: 1rem;
}

.item {
  background: #d8d8d8;
  margin: 0.5rem 0 1rem;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  gap: 1rem;
  transition: all .1s cubic-bezier(1, 0, 1, 0);
}

.item p {
  font-size: smaller;
  margin-top: 1rem;
  line-height: 1.5;
}

.item img{
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
}

.content .show {
  display: flex;
  height: auto;
  max-height: 9999px;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
}
