.whyCLSubheading {
  color: var(--blue-700, #175cd3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 28px; */
  /* 155.556% */
}

.whyCLHeader {
  color: var(--gray-800, #1d2939);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 60px; */
  margin: 1rem 0;
  /* 125% */
  letter-spacing: -0.96px;
}

.wcl-container {
  padding: 100px 125px 50px 125px;
  width: 100%;
  height: max-content;
}

.whyCLHeader-container {
  padding-bottom: 50px;
}

.whyCLHeaderSub {
  color: var(--gray-500, #667085);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 133.333% */
}

.whyCLcontent-icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--gray-50, #f9fafb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyCLBody {
  height: 400px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.whyCLContent-top,
.whyCLContent-bottom {
  display: flex;
  /* align-items: center; */
  width: 100%;
  height: 50%;
  gap: 10px;
}

.whyCLConten-container {
  width: 58%;
}

.whyCLImage {
  position: relative;
  width: 40%;
  background-color: green;
  height: 100%;
  background-image: url("./../../Images/Rectangle 1.png");
  background-position: center;
  background-size: cover;
}

.whyCLcontent {
  width: 48%;
  height: 50%;
  padding: 10px 0px;
  /* background-color: red; */
}

.whyCLConten-container {
  width: 58%;
  height: 100%;
  /* background-color: red; */
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.whyCLcontent-title {
  margin-top: 10px;
  color: var(--gray-900, #101828);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.whyCLcontent-subtitle {
  margin-top: 10px;
  color: var(--gray-600, #475467);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  /* 155.556% */
}

.handArrow {
  position: absolute;
  top: -205px;
  left: 20px;
  transform: scale(0.8);
}
