.shopify-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 125px;
  background: var(--gray-50, #f9fafb);
}

.shopify-content {
  width: 50%;
}

.shopify-image {
  width: 50%;
  height: 400px;
  background-image: url("./../../Images/Contents.png");
  background-position: center;
  background-size: cover;
  background-color: none;
  background-repeat: no-repeat;
  background-position: center;
}

.flex {
  display: flex;
}

.shopify-text {
  flex-direction: column;
  justify-content: space-evenly;
}

.arrow {
  gap: 25px;
}

.shopify-review {
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.shopify-person-review {
  align-items: center;
  gap: 10px;
}

.shopify-header {
  color: var(--gray-900, #101828);
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  /* 136.364% */
  width: 80%;
  letter-spacing: -0.2px;
  margin-top: 40px;
}

.shopify-star {
  margin-top: 30px;
}

.shopify-review {
  margin-top: 60px;
}

.shopify-text-name {
  color: var(--gray-900, #101828);
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  /* line-height: 30px; */
  /* 150% */
}

.shopify-text-title {
  color: var(--gray-600, #475467);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

.whyCLcontent-icon{
  box-shadow: 0px 0px 5px 0px gray;
}