.hero {
  width: 100%;
  height: 100vh;
  padding: 150px 125px 20px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./../../Images/backgroundpattern.png");
  background-position: center;
  background-size: cover;
  gap: 20px;
}

.Hero-title {
  color: var(--gray-800, #1d2939);
  font-size: 58px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.28px;
}

.Hero-title-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 56%;
}

.startYourTrial {
  color: var(--base-white, #fff);
  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
  padding: 7px 24px;
  border-radius: 100px;
  background: var(--blue-700, #175cd3);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  justify-content: center;
  align-items: center;
}

.Ai-assistant {
  cursor: pointer;
  display: flex;
  gap: 10px;
  color: var(--blue-700, #175cd3);
  /* Text lg/Semibold */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  align-items: center;
  /* 155.556% */
}

.review-content {
  color: var(--gray-600, #475467);
  /* Text md/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.star-number {
  color: var(--gray-700, #344054);
  /* Text md/Semibold */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-left: 5px;
  /* 150% */
}

.star-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Hero-image-display {
  border-radius: 16px;
  border: 1px solid var(--blue-200, #b2ddff);
  background: var(--blue-50, #eff8ff);
  /* Shadow/3xl */
  /* box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14); */
  display: flex;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
  width: 44%;
  height: 79%;
  gap: 10px;
  margin-top: 20px;
  box-shadow: 0px 7px 20px -4px rgba(16, 24, 40, 0.14);
  /* height: %; */
}

.user-review {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.hero-subtitle {
  color: var(--gray-500, #667085);
  /* Display xs/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
  /* 133.333% */
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.image-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80%;
  /* background: red; */
  width: 100%;
}

.grid-icons {
  height: 15%;
  width: 100%;
  /* background-color: green; */
}

.grid-image-container {
  width: 31.8%;
  height: 100%;
  background-color: #1d2939;
  border-radius: 10px;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
  height: 50%;
}

.grid-01 {
  background: var(--orange-dark-300, #ff9c66) url("./../../Images/image 21.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-02 {
  background: var(--primary-300, #d6bbfb) url("./../../Images/image 100.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-03 {
  background: var(--moss-300, #acdc79) url("./../../Images/image 8.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-04 {
  background: var(--gray-blue-300, #b3b8db) url("./../../Images/image 72.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-05 {
  background: var(--warning-300, #fec84b) url("./../../Images/image 108.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid-06 {
  background: var(--ros-300, #fea3b4) url("./../../Images/image 103.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-container {
  border-radius: 100px;
  border: 1px solid var(--blue-100, #d1e9ff);
  background: var(--base-white, #fff);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
