.footer__main {
  padding: 4rem 125px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 5rem; */
  background: white;
}

.main-one{
    width: 33%;
}

.main-one p{
    margin: 3rem 0;
    line-height: 1.7;
}

.footer__main ul{
    line-height: 3;
    font-size: 14px;
}

.footer__main ul li{
    cursor: pointer;
}

.footer__title{
    color: #667085;
    font-size: medium;
}

.app__logo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}

.app__logo p{
    color: blue;
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 2rem 125px;
  background-color: #F9FAFB;
}

.socials{
    display: flex;
    color: #667085;
    align-items: center;
    gap: 1rem;
}