@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --gray-500: rgba(102, 112, 133, 1);
  --blue-700: rgba(23, 92, 211, 1);
  --gray-900: rgba(16, 24, 40, 1);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}
